body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202c59;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 150px ;
}

input {
    background-color: #202c59;
    color: white;
    border:white solid 0.5px;
    border-radius: 5px;
    padding: 10px 50px;
}

button {
    margin-top: 10px;
    background-color: #202c59;
    border: white solid 0.5px;
    padding: 10px 50px;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: red;
}

img {
    margin-top: 10px;
    width: 500px;
    border-radius:5px;
    box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.5);
}

iframe {
    border: none;
}